################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.out
/UkkonenAlgo.vcxproj.user
/UkkonenAlgo.vcxproj.filters
/UkkonenAlgo.vcxproj
/Debug
